<div class="container mt-5">
    <button (click)="get500error()" class="btn btn-outline-primary me-5">Test 500 Error</button>
    <button (click)="get404Error()" class="btn btn-outline-danger me-5">Test 404 Error</button>
    <button (click)="get400Error()" class="btn btn-outline-success me-5">Test 400 Error</button>
    <button (click)="get400ValidationError()" class="btn btn-outline-dark">Test 400 ValidationError</button>

    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul *ngFor="let error of validationErrors">
            <li class="text-danger">
                {{error}}
            </li>
        </ul>
    </div>
</div>