<div class="card h-100 shadow-sm bg-light">
    <img class="img-fluid" [src]="product.photoUrl" alt="{{product.name}}">
    <div class="card-body d-flex flex-column">
        <a href="#" class="text-uppercase">
            <h6>{{product.name}}</h6>
        </a>
        <span>{{product.price | currency}}</span>
        <div class="btn-group mt-auto">
            <button type="button" class="btn md btn btn-outline-secondary fa fa-shopping-cart mx-3"></button>
            <button type="button" class="btn btn-outline-success">View</button>
        </div>
    </div>
</div>
<!--     Test -->
<!-- <div class="container"> -->
    <!-- <div class="card h-100 w- shadow-sm"> -->
        <!-- <div class="imgBx"> -->
            <!-- <img src="https://assets.codepen.io/4164355/shoes.png"> -->
            <!-- <img class="img-fluid" [src]="product.photoUrl" alt="{{product.name}}">
        </div> -->
        <!-- <div class="contentBx"> -->
            <!-- <h2>Nike Shoes</h2> -->
            <!-- <a href="#" class="text-uppercase">
                <h6>{{product.name}}</h6>
            </a>
            <div class="size">
                <h3>Size :</h3>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
            </div>
            <div class="color">
                <h3>Color :</h3>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="#">Buy Now</a>
        </div>
    </div>
</div> -->