<div class="mt-5">
    <carousel [isAnimated]="true" >
        <slide>
            <img src="assets/images/Photo1.png" alt="slide1" style="display: block;width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/Photo2.png" alt="slide2" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="assets/images/Photo3.png" alt="slide3" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <section class="featured">
        <div class="d-flex justify-content-center pt-5">
            <h4>Welcome To Our Shop</h4>
        </div>
    </section>
</div>