.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 600;
    background-color: #3385D9;
    color: aliceblue;
    text-align: center;
    top: -15px;
    right: -1px;
}
nav a{
    color: antiquewhite;
    text-decoration: none;

    &.active{
        color:#3385D9;
        font-weight: 700;        
    }
}
// nav a:hover{
//     color: #3385D9;
//     font-weight: 500;
// }